# ===== Server =====
PORT=8000

# ===== Melipayamak SMS =====
MELIPAYAMAK_BASE_URL=https://rest.payamak-panel.com
MELIPAYAMAK_USERNAME=نام_کاربری_پیامک
MELIPAYAMAK_PASSWORD=رمز_پنل_پیامک
MELIPAYAMAK_PATTERN=شناسه_قالب_عدد

# ===== Map.ir (اختیاری) =====
MAP_IR_API_KEYS=کلید1,کلید2

# ===== Tapsell Ads (اختیاری) =====
TAPSELL_APP_ID=
TAPSELL_BANNER_ZONE_ID=
TAPSELL_INTERSTITIAL_ZONE_ID=

# ===== Admin =====
ADMIN_REPORT_TOKEN=یه_رمز_قوی_اینجا_بذار
